{% extends 'base.html' %}

{% block content %}
<h1>This is from Home page not from base.html file</h1>
<form>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" name="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" name="checked">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>


  <h1>User Submitted data</h1>
  <hr>
  <h3>Username : {{username_data}}</h3>
  <h2>Password : {{password_data}}</h2>
  <h1>Checked : {{checked_data}}</h1>



<h1>Hello, world!</h1>

<h1>This is home</h1>

{% endblock content %}